{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <br>
    
    {% for listing in active_listings %}
        <hr>    
        <a href="{% url 'listing' listing_id=listing.id%}"> <h6>{{ listing.title }}</h6></a>
        <p>{{ listing.description }}</p>
        {% if listing.image_url %}
        <img src="{{ listing.image_url }}" alt="">
        {% endif %}
        <p><strong>{{ listing.current_price }}</strong></p>
        <p>{{ listing.seller }}</p>
        
    {% endfor %}
    <hr>
{% endblock %}